{% extends '../base.html' %}

{% block title %}Annonce {{ ad.ad_id }}{% endblock title %}

{% block content %}

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin: 10px 0;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
        }

        .ad-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            margin: 20px;
            max-width: 800px;
            margin: 20px auto;
        }

        @media (max-width: 768px) {
            .ad-container {
                padding: 10px;
            }
        }
        ul {
            list-style: disc;
            margin-left: 20px;
        }

        li {
            font-size: 18px;
            color: #444;
            margin-bottom: 5px;
        }
    </style>
    <div class="ad-container">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.description }}</p>
        <p class="ad-price">TND {{ ad.price }}</p>
        <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
        <p><strong>Type:</strong> {{ ad.ad_type }}</p>
        <p><strong>Élément(s) dans l'annonce:</strong></p>
        <ul>
            {% for book in ad.bundle_items.all %}
                <li>
                    <strong>Title:</strong> {{ book.titre }}<br>
                    <strong>Publisher:</strong> {{ book.editeur }}<br>
                    <strong>ISBN:</strong> {{ book.isbn }}<br>
                    <strong>Class:</strong> {{ book.classe }}<br>
                    <strong>Subject:</strong> {{ book.matiere }}
                </li>
            {% endfor %}
        </ul>
        
    </div>

{% endblock content %}