{% extends '../base.html' %}

{% block title %}Créer une annonce{% endblock title %}

{% block content %}

    <h1>Modifier votre annonce</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <!-- Ad Info Fields -->
        <div>
            <label for="title">Titre de l'annonce:</label>
            <input type="text" name="title" id="title" value="{{ad.title}}" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description" required>{{ad.description}}</textarea>
        </div>
        <div>
            <label for="price">Prix:</label>
            <input type="number" value="{{ad.price}}" name="price" id="price" required>
        </div>
        <div>
            <label for="id_image">Image:</label>
            <img src="{{ad.image.url}}">
            <input type="file" name="image" id="id_image">
        </div>


                <!-- Bundle List Creator -->
                <div id="bundleFields">
                    <h2>Livre(s) dans l'annonce:</h2>
                    <input type="hidden" name="bookList" id="book-list-input">
                    <ul id="book-list">
                        <!-- Book items will be dynamically added here -->
                        {% for book in ad.bundle_items.all %}
                            <li>
                                <strong>Title:</strong> <a id="title">{{ book.titre }}</a><br>
                                <strong>Publisher:</strong> <a id="publisher">{{ book.editeur }}</a><br>
                                <strong>ISBN:</strong> <a id="isbn">{{ book.isbn }}</a><br>
                                <strong>Class:</strong> <a id="class">{{ book.classe }}</a><br>
                                <strong>Subject:</strong> <a id="subject">{{ book.matiere }}</a>
                                <button class="delete-button" type="button">Supprimer</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="book-fields">
                        <div>
                            <label for="bookTitle">Titre:</label>
                            <input type="text" name="bookTitle" class="book-title">
                        </div>
                        <div>
                            <label for="bookPublisher">Editeur:</label>
                            <input type="text" name="bookPublisher" class="book-publisher">
                        </div>
                        <div>
                            <label for="bookClass">Classe:</label>
                            <select name="bookClass" class="book-class">
                                <option value="6ème">6ème</option>
                                <option value="5ème">5ème</option>
                                <option value="4ème">4ème</option>
                                <option value="3ème">3ème</option>
                                <option value="Seconde">Seconde</option>
                                <option value="Première">Première</option>
                                <option value="Terminale">Terminale</option>
                            </select>
                        </div>
                        <div>
                            <label for="bookISBN">ISBN (format: 978-0553292715):</label>
                            <input type="text" name="bookISBN" class="book-isbn" minlength="13" maxlength="13">
                        </div>
                        <div>
                            <label for="bookSubject">Matière:</label>
                            <select name="bookSubject" class="book-subject">
                                <option value="Mathématiques">Mathématiques</option>
                                <option value="Français">Français</option>
                                <option value="Physique">Physique</option>
                                <option value="SVT">SVT</option>
                                <option value="SES">SES</option>
                                <option value="Philosophie">Philosophie</option>
                                <option value="Histoire">Histoire</option>
                                <option value="Géographie">Géographie</option>
                                <option value="ES">Enseignement Scientifique</option>
                                <option value="Anglais">Anglais</option>
                                <option value="Espagnol">Espagnol</option>
                                <option value="Allemand">Allemand</option>
                                <option value="Italien">Italien</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" id="addItem">Ajouter un livre</button>
                    
                </div>

        <a href="/myads">Annuler</a>
        <button type="submit">Modifier</button>

    </form>

    <script>
        // Get a reference to the book list
        const bookList = document.getElementById("book-list");
        const bookListInput = document.getElementById("book-list-input");
    
        // Function to update the hidden input field with the current book list
        function updateBookListInput() {
            const bookItems = bookList.querySelectorAll("li");
            const bookData = [];
            bookItems.forEach((item) => {
                const title = item.querySelector("#title").textContent;
                console.log(title)
                const publisher = item.querySelector("#publisher").textContent;
                const isbn = item.querySelector("#isbn").textContent;
                const bookClass = item.querySelector("#class").textContent;
                const subject = item.querySelector("#subject").textContent;
                bookData.push({
                    title,
                    publisher,
                    isbn,
                    bookClass,
                    subject,
                });
            });
            bookListInput.value = JSON.stringify(bookData);
        }
    
        // Attach a click event listener to the "Ajouter un livre" button
        const addItemButton = document.getElementById("addItem");
        addItemButton.addEventListener("click", function () {
            // Get the values from the input fields
            const bookTitle = document.querySelector(".book-title").value;
            const bookPublisher = document.querySelector(".book-publisher").value;
            const bookISBN = document.querySelector(".book-isbn").value;
            const bookClass = document.querySelector(".book-class").value;
            const bookSubject = document.querySelector(".book-subject").value;
    
            // Create a new book item
            const li = document.createElement("li");
            li.innerHTML = `
                <strong>Title:</strong> <a id="title">${bookTitle}</a><br>
                <strong>Publisher:</strong> <a id="publisher">${bookPublisher}</a><br>
                <strong>ISBN:</strong> <a id="isbn">${bookISBN}</a><br>
                <strong>Class:</strong> <a id="class">${bookClass}</a><br>
                <strong>Subject:</strong> <a id="subject">${bookSubject}</a>
                <button class="delete-button" type="button">Supprimer</button>
            `;
    
            // Add the new book item to the list
            bookList.appendChild(li);
    
            // Clear input fields
            document.querySelector(".book-title").value = "";
            document.querySelector(".book-publisher").value = "";
            document.querySelector(".book-isbn").value = "";
            document.querySelector(".book-class").value = "";
            document.querySelector(".book-subject").value = "";
    
            // Update the hidden input field with the updated book list
            updateBookListInput();
        });
    
        // Attach a click event listener to the book list for deleting books
        bookList.addEventListener("click", function (event) {
            if (event.target.classList.contains("delete-button")) {
                // Find the parent li element and remove it when the delete button is clicked
                const li = event.target.parentElement;
                bookList.removeChild(li);
                // Update the hidden input field after deletion
                updateBookListInput();
            }
        });
        updateBookListInput();

    const isbnInput = document.querySelector('.book-isbn');

    // Add an event listener for input changes
    isbnInput.addEventListener('input', function () {
        // Remove any non-numeric characters (e.g., hyphens)
        const cleanedInput = this.value.replace(/[^0-9]/g, '');
        this.value = cleanedInput

        // Format the ISBN-13 with hyphens after the first 3 characters
        if (cleanedInput.length >= 3) {
            const formattedISBN = cleanedInput.slice(0, 3) + '-' + cleanedInput.slice(3);
            this.value = formattedISBN;
        }
    });

    function onlyDigit(field) {
            field.value = field.value.replace(/[^0-9]/g, '')
        }
    </script>
    
    
    
    

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }
        img{
            width: 300px;
            height: auto;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        textarea,
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        button[type="submit"],
        #addItem {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button[type="submit"]:hover,
        #addItem:hover {
            background-color: #0056b3;
        }



        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .ad-preview {
        margin-top: 20px;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .ad-preview h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }
</style>

{% endblock content %}
