{% extends '../base.html' %}

{% block title %}Rechercher{% endblock title %}

{% block content %}
<div class="search-container">
    <h1>Rechercher des livres</h1>

    <form method="GET" action="/search/" class="search-form">
        <div class="input-group">
            <label for="title">Titre:</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="input-group">
            <label for="editor">Editeur:</label>
            <input type="text" name="editor" id="editor">
        </div>
        <div class="input-group">
            <label for="class">Classe:</label>
            <select name="class" id="class">
                <option value="">------</option>
                <option value="6ème">6ème</option>
                <option value="5ème">5ème</option>
                <option value="4ème">4ème</option>
                <option value="3ème">3ème</option>
                <option value="Seconde">Seconde</option>
                <option value="Première">Première</option>
                <option value="Terminale">Terminale</option>
            </select>
        </div>
        <div class="input-group">
            <label for="isbn">ISBN:</label>
            <input type="text" name="isbn" id="isbn">
        </div>
        <div class="input-group">
            <label for="subject">Matière:</label>
            <select name="subject" id="subject">
                <option value="">------</option>
                <option value="Mathématiques">Mathématiques</option>
                <option value="Français">Français</option>
                <option value="Physique">Physique</option>
                <option value="SVT">SVT</option>
                <option value="SES">SES</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Histoire">Histoire</option>
                <option value="Géographie">Géographie</option>
                <option value="ES">Enseignement Scientifique</option>
                <option value="Anglais">Anglais</option>
                <option value="Espagnol">Espagnol</option>
                <option value="Allemand">Allemand</option>
                <option value="Italien">Italien</option>
            </select>
        </div>
        <button type="submit">Rechercher</button>
    </form>
</div>

<!-- Display the ads -->
<div class="ads-container">
    <h2>Résultats de la recherche</h2>
    <ul class="ads-list">
        {% for ad in ads %}
            <li class="ad-item">
                <a href="/ad?ad_id={{ ad.ad_id }}" class="ad-link">
                    <div class="ad-info">
                        <h3 class="ad-title">{{ ad.title }}</h3>
                        <p class="ad-description">{{ ad.description }}</p>
                        <p class="ad-price">Prix: {{ ad.price }}</p>
                    </div>
                    <div class="ad-image">
                        <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
                    </div>
                </a>
            </li>
        {% empty %}
            <p class="no-results">Aucune annonce trouvée.</p>
        {% endfor %}
    </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if ads.has_previous %}
            <a href="?page=1">&laquo; Première page</a>
            <a href="?page={{ ads.previous_page_number }}">Page Précédente</a>
        {% endif %}

        <span class="current-page">{{ ads.number }}</span>

        {% if ads.has_next %}
            <a href="?page={{ ads.next_page_number }}">Page suivante</a>
            <a href="?page={{ ads.paginator.num_pages }}">Dernière page &raquo;</a>
        {% endif %}
    </span>
</div>

<style>
    .search-container {
    text-align: center;
    padding: 20px;
}

.search-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for the ads container */
.ads-container {
    margin: 20px;
    width: 50%;
    height: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.ads-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ad-item {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.ad-item:hover {
    transform: scale(1.03);
}

.ad-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ad-info {
    padding: 20px;
}

.ad-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.ad-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.ad-price {
    font-size: 16px;
    color: #007bff;
}

.ad-image img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.no-results {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}
</style>
{% endblock content %}
