<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Project Title</title>
    <!-- Add your CSS links and other head content here -->
</head>
<body>
    <header>
        <!-- Add your header content here -->
    </header>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <h4>You're successfully logged in.</h4>
    <nav>
        <a href="/logout">Logout</a>

    </nav>
    {% else %}
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    </nav>
    {% endif %}


    <main>
        {% block content %}
        <!-- Content from child templates will be placed here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>

    <!-- Add your JavaScript scripts and other footer content here -->
</body>
</html>
